@use "variables";
@forward "variables";

@mixin flex($direction, $justify-content: flex-start, $align: stretch, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify-content;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin subtitle-text($color, $size: variables.$subtitle-size) {
  font-family: variables.$body-font;
  font-weight: 300;
  font-size: $size;
  color: $color;
  
  line-height: 1.3;
  margin: 0px;
}

@mixin pill($size, $pad, $rad, $color: white, $bg: variables.$accent-color) {
  background-color: $bg;
  border-radius: $rad;
  padding: $pad;
  color: $color;
  font-family: variables.$body-font;
  font-size: $size;
  font-weight: 400;

  display: inline-block;
}

@mixin link {
  font-size: 1.2rem;
  font-family: variables.$body-font;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  line-height: 0.95;
  color: variables.$accent-color;
}
