@use "common";
@use "post";

.post {
  @include post.post(20px, 27px);

  //border: 3px common.$darker-bg-color solid;
}

.blog-tag {
  @include common.tag(common.$subtitle-size, 5px 10px, 20px);
}


.blog-container {
  @include common.flex(column, $align: center);
  width: 100%;
}
.post-container {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  column-gap: 30px;
  grid-auto-rows: min-content; /* OR min-content*/
  justify-self: center;
  max-width: 1000px;
  max-height: inherit;
  margin-top: 15px;

  .top {
    width: 100%;
    height: min-content;
    margin-bottom: 10px;
    img {
      width: 100%;
      object-fit: cover;
      border-radius: common.$img-radius;
    }
  }
  .featured-container {
    height: fit-content;
  }
  .list-container {
    margin-top: 10px;
    width: 100%;
    overflow: auto;
    //overflow-y: scroll;
    //max-height: inherit;
    box-sizing: border-box;
    border-radius: 0px;
    background-color: $bg-color;      
  }
}

.blog-pagination {
  width: 100%;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .post-container {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
  }
  

  .post-list {
    margin-top: 50px;
  }
}
