@import "variables.scss";


$welcome-width: 600px;

h1 {
  color: common.$accent-color;
}

.two-sided {
  @include common.flex(row, flex-start, center);
  .left {
    margin-right: 50px;
  }
  .right {

  }
}



.landing-layout {
  @include common.flex(column, center, center);
  height: 100%;
  width: 100%;

  .landing-container {
    width: 50vw;
  }
}

.landing-hook {
  height: 75vh;

  #engineer {
    height: 100vh;
    position: absolute;
    top: -50px;
    right: 10vw;
    z-index: -1;
    margin-bottom: 100vh;
  }

  #welcome-container {
    width: 30vw;
    position: relative;
    top: 30%;
    h1 {
      color: white;
    }
  }
}



#survival-guide {
  
}

#our-mission {
  margin-bottom: 100px;

  #text {

  }

  #testimonial {
    b {
      margin-top: 10px;
      width: 150px;
    }
    #profile {
      width: 225px;
      height: 225px;
      position: relative;
      overflow: hidden;
      border-radius: 50%;
    }

  }
}

#what-we-offer {
  #text {
    margin-right: 50px;
    li {
      font-size: 20px;
    }
  }
  #lab-space {
    border-radius: common.$img-radius;
    width: 50%;
  }
}

#our-tools {
  @include common.flex(column, space-between, center);
  

  .tool {
    margin-bottom: 20px;
    .left {
      width: 30vw;
    }
    .right {
      width: 150px;
      height: 150px;
      background-color: gray;
      border-radius: common.$img-radius;
    }
  }
}



@media screen and (max-width: 1400px) {
}


