@import "variables.scss";


$welcome-width: 600px;

h1 {
  color: common.$accent-color;
}

.two-sided {
  @include common.flex(row, flex-start, center);
  .left {
    margin-right: 50px;
  }
  .right {

  }
}

.profile {
  width: 225px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}



.landing-layout {
  @include common.flex(column, center, center);
  height: 100%;
  width: 100%;

  .landing-container {
    width: 850px;
  }
}

.landing-hook {
  height: 75vh;

  #engineer {
    height: 100vh;
    position: absolute;
    top: -50px;
    left: 50vw;
    z-index: -1;
    margin-bottom: 100vh;
  }

  #welcome-container {
    width: 400px;
    position: relative;
    top: 30%;
    h1 {
      color: white;
    }
  }
}



#survival-guide {
  width: 100%;
  hr { width: 100% }
  @include common.flex(column, center, center); 
}

#our-mission {
  margin-bottom: 100px;

  #text {

  }

  #testimonial {
    b {
      margin-top: 10px;
      width: 150px;
    }


  }
}

#what-we-offer {
  margin-bottom: 100px;
  height: 40vh;
  width: 100%;

  #text {
    margin-right: 50px;
    li {
      font-size: 20px;
    }
  }
  #lab-space {
    border-radius: common.$img-radius;
    height: 75%;
    object-fit: cover;
    aspect-ratio: 1.5 / 1;
  }
}

#our-tools {
  @include common.flex(column, space-between, center);
  margin-bottom: 100px;
  
  .tool {
    margin-bottom: 20px;
    .left {
      width: 450px;
    }
    .right {
      height: 250px;

      aspect-ratio: 1.5 / 1;
      background-color: gray;
      border-radius: common.$img-radius;
    }
  }
}

#volunteer-suggestions {
  @include common.flex(column, space-between, center);
  h1, h2 {
    margin: 0px;
  }
  
  .eboard-card {
    margin-top: 20px;
    border: 2.5px solid gray;
    border-radius: 15px;
    padding: 7.5px 10px;
    text-align: right;

    h2, h3 {
      margin: 0px;
    }
    
    .contact {
      @include common.flex(column, flex-start, flex-end);
    }

    .left {
      margin-right: 17.5px;

      .profile {
        width: 150px;
        height: 150px;
      }
    }
    .right {
      b,p { margin: 0px; font-size: 12px; }
      word-break: keep-all;
      align-text: right;
      width: 375px;
    }
  }
}




@media screen and (max-width: 1400px) {
}


