@use "common";
@use "post";

@import "landing.scss";
@import "blog.scss";
@import "scrollbar.scss";
@import "single.scss";
@import "journey-list.scss";
@import "journey.scss";
@import "logs.scss";
@import "slide.scss";
@import "content.scss";
@import "pagination.scss";
@import "navbar.scss";
@import "officer.scss";


@font-face {
  font-family: 'Houdini Pixel';
  src: url('/fonts/HoudiniPixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

#content {
  height: 100%;
  overflow: clip;
  width: 100vw;
}
html {
  color: common.$font-color;  
  font-family: common.$body-font;  
}
body {    
  background-color: $bg-color;
  margin: 0 auto;  
  height: 100%;
}  

header {
  @include common.flex(row, center);
  padding: 20px;
}

a {
  text-decoration: none;
  font-size: inherit;
  @include common.link;
}


.link-style {
}

.hover {
  border-radius: 10px;
  background-color:$bg-color;
  transition: all 0.4s;
  box-shadow: none;
}
.hover:hover {
  background-color: $darker-bg-color;
  box-shadow:  0px 5px 0px 0px common.$accent-color;
}// credit rohan menon <rohanmenon.com>

@keyframes fadeIn { 
  from { background-color: common.$bg-color;
  } 
  to {
    background-color: common.$darker-bg-color;
  }
}

.image-container {
  
  img.batch-load {
    display: block;
    margin: 0px; 
    opacity: 0;
    transition: opacity 0.4s;
    background-color: transparent;
  }

  background-color: $darker-bg-color; 
  border-radius: $img-radius;
  animation: fadeIn 1s infinite alternate; 
}


.hack-button {
  @include common.pill(20px, 5px 20px, 20px);
  margin-top: 10px;
  text-decoration: none;
  font-weight: bold;
  border: none;
}
.tag {
  @include common.pill(common.$subtitle-size, 5px 10px, 20px);
  margin-bottom: 1px;
  font-weight: bold;
}

.profile {
  width: 225px;
  height: 225px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 11px;
  }
}
