@use "common";

/* base styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
  @include common.flex(row, space-between, center);
  
  max-width: 1000px;
  width: 100%;

  #left {
    @include common.flex(column);
    align-self: center;
    
    margin: 0px;
    font-size: 2rem;
    line-height: 1;

    #subtitle {
      font-family: $body-font;
      font-weight: 300;
      font-size: 2rem;
      margin: 0px;
    }
  }

  #right {
    @include common.flex(row, space-between, center);
    align-self: center;
  }
}


/* The dropdown container */
.dropdown {
  @include common.flex(row, center);
  position: relative;

  .dropbtn {
    max-width: 200px;
    min-width: 180px;
    padding: 5px 10px;
    margin: 0; /* Important for vertical align on mobile phones */

    font-family: inherit; /* Important for vertical align on mobile phones */
    font-size: 1.2rem;

    border: none;
    outline: none;
    color: white;
    border-radius: 5px 5px 0px 0px;

    background-color: inherit;
  }


  /* Add a red background color to navbar links on hover */
  &:hover .dropbtn {
    background-color: common.$accent-color;
    font-weight: 600;
    
    transition: background-color 0.4s;
  }

  /* Fade in the dropdown menu on hover */
  &:hover .dropdown-content {
    @include common.flex(column, center, center);
    display: block;
    opacity: 100%;

    visibility: visible;
    transition: opacity 0.4s;
  }
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  visibility: none;
  opacity: 0%;

  position: absolute; /* Position absolutely relative to the parent */
  top: 100%;
  background-color: inherit;

  background-color: common.$bg-color;
  border-radius: 0px 0px 3.5px 3.5px;
  
  width: 100%;
  z-index: 1;

  /* Links inside the dropdown */
  a {
    display: block;
    width: 100%;
    color: black;
    text-align: center;

    text-decoration: none;
    font-size: 1rem;
    font-family: common.$body-font;
    font-weight: 500;
    color: white;
    margin: 0px;

    padding: 7.5px 5px;
    border-radius: 2px;

    transition: all 0.4s;
    box-shadow: none;

    /* adds the hover red underline animation */
    &:hover {
      background-color: $darker-bg-color;
      box-shadow: 0px 5px 0px 0px common.$accent-color;
    }
  }

}



