.eboard-card {
  width: min-content;
  margin-top: 20px;
  border: 2.5px solid gray;
  border-radius: 15px;
  padding: 7.5px 15px;
  text-align: right;

  h2, h3 {
    margin: 0px;
  }
  
  .contact {
    @include common.flex(column, flex-start, flex-end);
  }

  .left {
    margin-right: 17.5px;

    .profile {
      width: 150px;
      height: 150px;
    }
  }
  .right {
    max-width: 350px;
    b,p, a { margin: 0px; font-size: 12px; }

    word-break: keep-all;
    align-text: right;
    width: 375px;
  }
}
