$font-color: #ffffff;
$sub-font-color: #231c1a;

$head-font: 'Houdini Pixel';
$body-font: 'Inter', sans-serif;

$bg-color: #000000;
$darker-bg-color: #161616;
$dark-bg: hsl(20deg, 11%, 45%);
$accent-color: #da3538;
$transparency: 0.85;

$img-radius: 10px;

$subtitle-size: 16px;
$content-width: 850px;
