{{ define "main" }}
{{ .Scratch.Set "subtitle" "journeys"}}
{{- partial "partials/head.html" . -}}
{{- partial "partials/header.html" . -}}

<script src="/js/filter.js" > </script>

<div id="journey-container" >
  <div id="journeys-multiple">
    <div id="project-col">
      {{ $journeys := (where .Page.Sections "Type" "journey")}}
      {{ range $index, $journey := $journeys }}
      <a class="tagable" href="{{ $journey.Permalink  }}" data-tags="{{ range $tag := $journey.Params.journey_tags }}{{ lower $tag}},{{end}}">
            <div class="project-card hover">
              <div class="left">
                <h3>{{ $journey.Title }}{{if eq .Weight 1}}{{ partial "icon" (dict "icon" "star" "class" "star-icon")}}{{ end }}</h3>
                <h4>{{ $journey.Summary}}</h4>
                <div class="tag-container">
                  {{ range $tag := $journey.Params.journey_tags }}
                    <span class="tag">{{ $tag }} </span>    
                  {{ end }}        
                </div>
              </div>
              <div class="right image-container">
                <img class="journey-img batch-load" src="{{ $journey.Params.img }}" />
              </div>
            </div>
          </a>
      {{ end }}
    </div>
    <div id="log-col">
      {{ $paginator := .Paginate (where .Site.RegularPages "Type" "log") 12 }}
      {{ partial "partials/tags" (dict "tags" .Site.Taxonomies.journey_tags.ByCount "section_link" "/journey")}}

      {{ partial "partials/logs" (dict "logs" $paginator.Pages "journey" true) }}

      {{ partial "partials/pagination" . }}
    </div>
  </div>
</div>
{{- partial "partials/footer.html" . -}}
{{ end }}
