{{ define "main" }}
<script>
  document.addEventListener( 'DOMContentLoaded', function() {
    var splide = new Splide( '.splide', {
        type: 'loop',
        autoplay: true,
        arrows: false,
      }
  );
    var elms = document.getElementsByClassName( 'splide' );


    for ( var i = 0; i < elms.length; i++ ) {
        let settings = {type: 'loop', autoplay: false, arrows: false};
        if (i == 0) { settings.autoplay = true; }
        new Splide( elms[ i ], settings).mount();
    }
  } );
</script>
{{ .Scratch.Set "subtitle" "journeys"}}
{{- partial "partials/header.html" . -}}


<div id="journey-single">
  <div id="description-col">
    
    <div class="content">
      {{ .Content }}
    </div>
  </div>
  
  <div id="summary-container">
    <h1 id="title">{{ .Title }}{{if eq .Weight 1 }}<span>{{ partial "icon" (dict "icon" "star" "class" "star-icon")}}{{ end }}</h1>
    <div id="inducted">
      <h2 id="date">Inducted {{ .Date | time.Format ":date_long"}}</h2>
      <div>
        {{ partial "status" (dict "status" .Params.status)}}
        {{.Params.status}}
      </div>
    </div>
    <div>
      {{ range .Params.journey_tags }}
        <span class="tag">{{ . }}</span>
      {{ end }}
    </div>
    
    <p>{{ .Summary }}</p>
    <div id="links">
      {{ range .Params.links}}
        <a href="{{ .url }}">{{ partial "icon" (dict "icon" .icon "class" "star-icon") }} <span class="link-style">{{ .name }}</span> </a>
      {{ end }}
    <div>
    {{ partial "partials/logs" (dict "logs" .Pages) }} 
  </div>
</div>
{{- partial "partials/footer.html" . -}}
{{ end }}
