{{ define "main" }}
{{ .Scratch.Set "subtitle" "musings and other quandaries"}}
{{- partial "partials/head.html" . -}}
{{- partial "partials/header.html" . -}}
<script src="/js/filter.js" > </script>

<!--Paginate all content on the blog home page -->
{{ $paginator := .Paginate (where .Site.RegularPages "Type" "blog") 8}}
<div class="blog-container">
  <div class="post-container">
    <div class="featured-container">
      <div class="blog-pagination">
        {{ partial "partials/pagination" . }} 
      </div>
      {{ $postsWithImg := first 2 (where $paginator.Pages "Params.img" "!=" nil ) }}
      {{ range $post := $postsWithImg}}
      <a href="{{ $post.Permalink}}" >
        <div class="post hover">
          <div class="top image-container">
            <img class="batch-load" src="{{ .Params.img }}" />
          </div>
          <h3>{{ $post.Title }}</h3>
          <h4>{{ $post.Summary }} </h4>

          <div class="date">
            <p>{{ $post.Date | time.Format ":date_long" }}</p>
            <p> {{ $post.ReadingTime }} min read</p>
          </div>
        </div>
      </a>  
      {{ end }}
    </div>
    <div class="post-list">
      {{ partial "partials/tags" (dict "tags" .Site.Taxonomies.blog_tags.ByCount "section_link" "/blog")}} 
      <div class="list-container">
        {{ range $post := (symdiff $paginator.Pages  $postsWithImg) }}
          
        <a class="tagable" href="{{ $post.Permalink }}" data-tags="{{ range $tag := $post.Params.blog_tags }}{{ lower $tag}},{{end}}">
          <div class="post hover">
            <h3>{{ $post.Title }}</h3>
            {{ with $post.Summary }}<h4>{{ . }} </h4>{{end}}

            <div class="date">
              <p>{{ $post.Date | time.Format ":date_long" }}</p>
              <p> {{ $post.ReadingTime }} min read</p>
            </div>
          </div>
        </a>
        {{ end }}
      </div>
    </div>

  </div>
  
</div>
{{- partial "partials/footer.html" . -}}
{{ end }}
