
<header>  
  <nav class="navbar" role="navigation">  
    <div id="left"> 

      <a href="/">
        {{ partial "partials/icon.html" (dict "icon" "hacklab-logo") }}
      </a>
    </div>  
    <div id="right">  
      <div class="dropdown">
        <button class="dropbtn">
          Club stuff
        </button>
        <div class="dropdown-content">
          <a href="#">hours and location</a>
          <a href="#">leadership & contact</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">
          made at hacklab
        </button>
        <div class="dropdown-content">
          <a href="#">show and tell</a>
          <a href="#">affiliate clubs</a>
          <a href="#">senior design</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">
          tools and resources
        </button>
        <div class="dropdown-content">
          <a href="#">our network</a>
          <a href="#">parts+tools</a>
          <a href="#">discord</a>
          <a href="#">survival guide</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">
          events
        </button>
        <div class="dropdown-content">
          <a href="#">hack the lab</a>
          <a href="#">crossroads</a>
          <a href="#">makerfaire</a>
        </div>
      </div>
    </div>  
  </nav>  
</header>  
