
<header>  
  <nav class="navbar" role="navigation">  
    <div id="left"> 

      <a href="/">
        {{ partial "partials/icon.html" (dict "icon" "hacklab-logo") }}
      </a>
    </div>  
    <div id="right">  
      <div class="dropdown">
        <button class="dropbtn">
          club stuff
        </button>
        <div class="dropdown-content">
          <a href="/new-members">new members</a>
          <a href="/hours-and-location">hours & location</a>
          <a href="/leadership-and-contact">leadership & contact</a>
          <a href="/volunteer">volunteer</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">
          made @ hacklab
        </button>
        <div class="dropdown-content">
          <a href="#">show and tell</a>
          <a href="#">affiliate clubs</a>
          <a href="#">senior design</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">
         initiatives 
        </button>
        <div class="dropdown-content">
          <a href="/discord">our discord</a>
          <a href="#">parts+tools</a>
          <!-- <a href="#">our network</a> -->
          <!-- <a href="#">survival guide</a> -->
          <!-- <a href="#">lab of the future</a> -->
          <!-- <a href="#">filament recycling</a> -->
        </div>
      </div>

      <!-- <div class="dropdown"> -->
      <!--   <button class="dropbtn"> -->
      <!--     events -->
      <!--   </button> -->
      <!--   <div class="dropdown-content"> -->
      <!--     <a href="#">hack the lab</a> -->
      <!--     <a href="#">crossroads</a> -->
      <!--     <a href="#">makerfaire</a> -->
      <!--   </div> -->
      <!-- </div> -->
    </div>  
  </nav>  
</header>  
