{{ define "main" }}
{{ $post := .Page }}
<div class="single-container">
  <div class="post-page">
    <div id="post-head">
      <h1>{{ $post.Title }}</h1>
      {{ with $post.Params.summary }}
        <h3>{{ . }}</h3>
      {{ end }}


      <div class="date">

        <i>Last modified {{ $post.Params.last_modified | time.Format ":date_long" }}</i>
      </div>
    </div>
    <div class="content">
      {{ $post.Content}}
    </div>
  </div>
</div>
{{- partial "partials/footer.html" . -}}
{{ end }}
